*{
    font-style: none;
    font-family: 'Noto Serif TC';
}

header{
    padding: 15px 0;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: white;
    /*
    background-image: url(images/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg);
    background-size: cover;
    */
}

header img{
    padding: 0;
    margin: 0 10px;
}

header a{
    text-decoration: none;
    color: #549688;
}

header a:hover{
    color:#63ad9d;
}

body{
    background-color:antiquewhite
}

.container-fluid{
    padding: 0;
    margin:0 auto;
    background-color: antiquewhite;
}

.navbar{
    color:antiquewhite;
    background-color: #549688;
}

nav .home{   
    color: white; 
    padding: 19px;
}

.navbar-nav a{
    color: white;    
}

.nav-link{
    padding: 22px;
}

.navbar a:focus, .navbar a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.navbar a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.dropdown-menu a{
    color: black;
}

.dropdown-menu a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.contact{
    margin: 2em;
}

.contact li{
    list-style-type: none;
    
}

.contact li a{
    font-size: 20px;
    text-decoration: none;
    color: #4a7b70;
    letter-spacing: 2px;
    line-height: 2
}

section{
	letter-spacing: 2px;
	text-align: justify;
    padding: 1.5em;
    color: #424c50;
    background-color:  antiquewhite;
}

section h6{
    color:dimgrey;
}

section h3{
    margin: 0.5em 0;
}

section p{
    margin: 0.5 0 em;
	color: #424c50;
	text-indent: 36px;
	line-height: 200%;
    font-weight: 550;
}

figure img{
    padding: 1em 0.5em 0 0.5em;
}

.video{
    padding: 0.5em;
}

.card-body img{
    padding: 0;
}

.pengin{
    float: right;
}





/*card start*/

.card {
    max-width:420px; 
    margin:0 auto;
  background-color: #222831;
  height: 37rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 30px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}


.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btnn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btnn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

/*card end*/

