*{
    font-style: none;
    font-family: 'Noto Serif TC';
}

header{
    padding: 15px 0;
    letter-spacing: 1.5px;
    font-size: 20px;
    background-color: white;
}

header img{
    padding: 0;
    margin: 0 10px;
}

header a{
    text-decoration: none;
    color: #549688;
}

header a:hover{
    color:#63ad9d;
}

body{
    background-color:antiquewhite
}

.container-fluid{
    padding: 0;
    background-color: antiquewhite;
}

.navbar{
    color:antiquewhite;
    background-color: #549688;
}

nav .home{   
    color: white; 
    padding: 19px;
}

.navbar-nav a{
    color: white;    
}

.nav-link{
    padding: 22px;
}

.navbar a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.dropdown a: visited{
   color: white; 
}

.dropdown-menu a{
    color: black;
    
}

.dropdown-menu a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.contact{
    margin: 2em;
}

.contact li{
    list-style-type: none;
    
}

.contact li a{
    font-size: 20px;
    text-decoration: none;
    color: #4a7b70;
    letter-spacing: 2px;
    line-height: 2
}

section{
	letter-spacing: 2px;
	text-align: justify;
    padding: 1.5em;
    color: #424c50;
    background-color:  antiquewhite;
}

section h6{
    color:dimgrey;
}

section h3{
    margin: 0.5em 0;
}

section p{
    margin: 0.5 0 em;
	color: #424c50;
	text-indent: 36px;
	line-height: 200%;
    font-weight: 550;
}

figure img{
    padding: 1em 0.5em 0 0.5em;
}

.video{
    padding: 0.5em;
}

.card-body img{
    padding: 0;
}

.pengin{
    float: right;
}





