*{
    font-style: none;
    font-family: 'Noto Serif TC';
    
}

header{
    background-color: white;
}

header img{
    margin-left: 15px;
    padding: 13px 0;
}

header .lilys{
    vertical-align: middle;
    font-size: 35px;
    letter-spacing: 1.5px;
    padding: 10px 5px;
    text-decoration: none;
    color: #549688;
    font-family: 'Nanum Brush Script', cursive;
}

header .lilys:hover{
    color: #63ad9d;
}

body{
    background-color:antiquewhite
}

.container-fluid{
    padding: 0;
    margin: 0 auto;
}

.navbar{
    letter-spacing: 1.5px;
    color:antiquewhite;
    background-color: #549688;
}

nav .home{   
    color: white; 
    padding: 8px 20px;
    font-size: 36px;
    font-family: 'Nanum Brush Script', cursive;
}

.nav-item > a{
    
    color: white;  
    padding: 15px 19px 18px;
    font-size: 25px;
    font-family: 'Nanum Brush Script', cursive;
}

.navbar a:focus, .navbar a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.dropdown-menu a{
    color: black;
    font-size: 25px;
    padding: 5px 0;
    margin: 0;
    font-family: 'Nanum Brush Script', cursive;
}

.dropdown-menu a:hover{
    color: #549688;
    background-color: antiquewhite;
}

.videobox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.me{
    padding: 2.5em 0;
    text-align: center;
}

.me a{
    opacity: 80%;
}

.me a:hover{
    opacity: 100%;
}

section{
	letter-spacing: 2px;
	text-align: justify;
    padding: 1.5em;
    color: #424c50;
    background-color:  antiquewhite;
}

section h6{
    color:dimgrey;
}

section h3{
    margin: 0.5em 0;
}

section i{
    font-size: 20px;
}

section i:hover{
    opacity: 60%;
}

section p{
    margin: 0.5 0;
	color: black;
	text-indent: 36px;
	line-height: 200%;
    font-weight: 550;
}

.tip {
    padding-left: 0.9em;
    text-decoration: none;
    color: dimgrey;
}

figure img{
    padding: 1em 0.5em 0 0.5em;
    
}

.card h5, .card p{
    
    letter-spacing: 1.5px;
}

.card p{
    font-family: 'Boogaloo', cursive;
}

.yt{
     justify-content: center;
}

/*

figure img:hover{
    opacity: 70%;
}
*/

footer{
    color: white;
    background-color: #6da599;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.top{
    opacity: 50%;
    display: inline;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:99999;
}

.top:hover{
    opacity: 80%;
}

